body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

img{
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

span{
    color: #2e2f42;
}

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container{
    display: flex;
}

.navigator{
    display: flex;
     align-items: center;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px;
}

.menu{
    display: flex;
    gap: 40px;
}

.nav{
    font-size: 16px;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav:hover{
    color: #404bbf;
}

.nav:focus {
    color: #404bbf;
}

.nav::after{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address{
    font-style: normal;
}

.list-contacts{
    display: flex;
    gap: 40px;
}

.contacts{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover{
    color: #404bbf;
}

.contacts:focus {
    color: #404bbf;
}

.title{
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.button{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover{
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.section-title{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
                      url(./images/bg-title.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    max-width: 1440px;
}

.section-advantages{
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-advantages-info{
    display: flex;
    gap: 24px;
}

.list-item{
    width: calc((100% - 72px)/4);
}

.advantages-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.advantages{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-info{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team{
    background-color: #f4f4fd;
    text-align: center;
    padding: 120px 0;
}

.team-title{
    margin-bottom: 72px;
}

h2{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.list-team-members{
    display: flex;
    gap: 24px;
}

.team-members{
    background-color: #fff;
    width: calc((100% - 72px)/4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.employee-info{
    padding: 32px 0;
}

.team-members-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-members-info{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-members-icons{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-members-icons-item{
    width: 40px;
    height: 40px;
}

.team-members-icons-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-members-icons-link:hover{
    background-color: #404bbf;
}

.team-members-icons-link:focus {
    background-color: #404bbf;
}

.team-members-social-network{
    fill: #f4f4fd;
}

.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title{
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-portfolio{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.list-item-portfolio{
    width: calc((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-portfolio:hover .portfolio-img-text{
    transform: translateY(0%);
}
    

.list-item-portfolio:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img{
    position: relative;
    overflow: hidden;
}

.portfolio-img-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo{
    color: #f4f4fd;
}

.footer-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer .logo{
    display: inline-block;
    margin-bottom: 16px;
}

.footer .container{
    display: flex;
    align-items: baseline; 
}

.footer-logo-text{
    margin-right: 120px;
}

.footer-text-icons{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    margin-top: 0;
}

.footer-list{
    display: flex;
    gap: 16px;
}

.footer-list-item{
    width: 40px;
    height: 40px;
}

.footer-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover{
    background-color: #31d0aa;
}

.footer-link:focus {
    background-color: #31d0aa;
}

.footer-link-item{
    fill: #f4f4fd;
}